a {
	color: black;      /* specifying format of links*/
	border: 0;
	outline: 0;
	font-size: 0.8em;
}
a:link {	
	text-decoration: none;
}
a:hover {
	text-decoration: underline;   /*Underline on mouse-over*/
}
a:active {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}
.topnav {          /*Set top container*/
	width: 100%;
	
	}
.topnavleft {
	position: absolute;        /*Position left nav bar elements*/
	left: 0px;
	margin-left: 0.5em;
	}
.topnavright {				/*Position right nav bar elements*/
	position: absolute;
	right: 0px;
	margin-right: 0.5em;
	}	

.flex-item3 {             /*Custom button for "sign-up"*/
	background-color: blue;
  	border: none;
  	color: white;
  	padding: 0.5em 1em;
  	text-align: center;
	border-radius: 0.5em;
	font-size: 0.7em;
}
.container {              /*Container for logo*/
  	width: 100%;
	position: absolute;
  	top: 20%;
	font-size: 6em;
	
	}

.search {                 /*Search bar parameters*/
  	position: absolute;
	top: 80%;
	margin-left: 30%;
	width: 40%;
	height: 10%;
	font-size: 0.2em;
	border-radius: 0.7em;
	box-shadow: 0.1em 0.1em 0.1em 0.1em #ccc;
}

.buttons {        /*Button placement*/
	position: fixed;
	top: 55%;
	margin-left: 45%;
	}
.botnav {                      /*Bot nav bar positioning and graphics*/
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 2%;
	border: solid none none none;
	border-color: gray;
	box-shadow: 0.3em 0.3em 0.3em 0.3em #ccc; 
}
.botnavleft {                   /*Position left nav bar elements*/
	position: fixed;
	bottom: 0;
	left: 0;
	margin-left: 0.5em;
}
.botnavright {                  /*Position right nav bar elements*/
	position: fixed;
	bottom: 0;
	right: 0px;
	margin-right: 0.5em;
}
    

