a {color: black;}
a:link {	
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
.flex-container {
	display: flex;
	}

.flex-item {
	margin: 5px
}
.container {
  	margin: 0;
  	position: absolute;
  	top: 35%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.search {
	margin:0;
  	position: absolute;
 	top: 100%;
  	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 30px;
	font-size: 12pt;
	border-radius: 10px;
	box-shadow:         3px 3px 5px 6px #ccc;
}
    

